* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}




/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100%;
  background: #0f172a;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  z-index: 1000;
}


/* LOGO */
.logo {
  color: #38bdf8;
  font-size: 1.5rem;
  font-weight: bold;
}

/* LINKS */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 12px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  position: relative;
  transition: 0.3s;
}

/* Hover underline animation */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

/* ACTIVE LINK */
.nav-link.active {
  color: #38bdf8;
}

/* MOBILE NAV */
@media (max-width: 768px) {
  .nav-links {
    position: static;
    right: -100%;
    top: 60px;
    flex-direction: row;
    width: auto;
    padding: 0;
    transition: 0.3s;
  }

  .nav-links.show {
    right: 0;
  }
}

/* SCROLLED STATE */
.navbar.scrolled {
  background: rgba(15, 23, 42, 0.95);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #38bdf8; /* 🔥 blue line */
  border-bottom: 2px solid #38bdf8;
  box-shadow: 0 0 10px #38bdf8;
}


/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}




body{
color:white;
line-height:1.6;
padding-top: 70px;
}
section{
padding:100px 10%;
/*opacity: 0;*/
transform: translateY(50px);
transition: 0.8s ease;
}



.menu-btn {
    display: none;
}

.cursor {
  animation: blink 1.5s infinite;
  font-weight: bold;
  color: #fff;
  font-weight: 100;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
.hero{
height:80vh;
padding: 120px 20px 60px;
background:url(https://files.catbox.moe/mh5s1w.png) center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
flex-direction: column;
margin-top:-120px;
}

.hero-image img{
    width: 160px; 
    height: 160px;
    display: block;
    border-radius: 50%; 
    object-fit: cover;  
    border: 1px solid #b57300; 
}

.hero-text h1{
font-size:40px;
}

.hero span{
color:#38bdf8;
outline-width: 10px;
outline-color: #fff;
}

.hero h3{
margin:10px 0;
font-weight:400;
}

.hero-buttons{
margin-top:20px;
}

.btn{
padding:10px 24px;
color:#fff;
text-decoration:none;
border-radius:20px;
border:2px solid #38bdf8;
margin-right:20px;
}

.section-title{
text-align:center;
font-size: 25px;
margin-bottom:40px;
}

.about1-text{
max-width:700px;
margin:auto;
text-align:center;
}

/* GRID */
.skills-grid,
.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD STYLE */
.skill, .tool {
  background: #f1d1bd75;
  color: black;
  padding: 25px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  text-align: center;
  font-weight: bold;
}


/* HIDDEN TEXT */
.info {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}

/* SHOW ON HOVER */
.skill:hover .info,
.tool:hover .info {
  opacity: 0.5;
  max-height: 100px;
  margin-top: 10px;
}

/* SHOW ON CLICK (MOBILE) */
.skill.active .info,
.tool.active .info {
  opacity: 1;
  max-height: 100px;
  margin-top: 10px;
}


.projects, .skills, .tools, .about1{
background:linear-gradient(-45deg, #142a5efd, #d4460ed2, #186789fd);
margin-bottom: 2px;
}
.projects{
  margin-bottom: 50px;
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.project-card{
height: 100%;
width: 100%;
background:#0c419595;
border-radius:10px;
overflow:hidden;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-20px);
}

.project-card img{
width: 100%;
height: 200px;
object-fit: c;
}

.project-info{
padding:20px;
font-size: 10px;
}


.whatsapp-float{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #1bc359ac;
    color: white;
    padding: 5px 5px;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.whatsapp-float:hover{
    transform: scale(1.05);
}

footer {
    background-color: #3498db;
    width: 100%;
    bottom: 0;
    color: #fff;
    font-size: 10px;
    text-align: center;
}
footer .section-title {
    font-size: 10px;
    margin-bottom: auto;
    color: #ffff;
    font-style: italic;
}
.social-media a {
    margin-right: 20px;
}

.social-media img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}